@charset "UTF8";

/*paleta de cores
Verde rgb(6, 75, 6)
Verde mais escuro rgb(2, 34, 2)
Branco
Preto
*/

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
    width: 100vw;
}
main nav {
    background-color: rgb(212, 212, 212);
    padding: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.616);
    text-align: right;
}
main nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .3s;
    font-size: 1em;
}
main nav > a:hover {
    background-color: rgb(2, 34, 2);
    color: white;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    height: 450px;
    width: 400px;

    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    overflow: hidden; 

    background-color: white;
    box-shadow: 0px 0px 20px rgb(10, 10, 10);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s; 
    transition-timing-function: ease; 
}
div#img{
    background: white url(../imagens/recycle-me\ 2.png);
    background-size: 100% 100%;
    position: absolute;
    height: 400px;
    width: 600px;

    left: 75%;
    top: 50%;

    transform: translate(-50%, -50%);
}
div > h1 {
    display: inline-block;
    padding: 10px;
    margin-left: 90px;
    text-align: center;
}
div > h1#verde {
    margin-left: -5%;
    color: rgb(6, 75, 6);
}
form > div.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
}
form input{
    display: block;
    height: 30px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.em;
    text-align: center;
    text-decoration: underline;
}
form > input[type=submit]{
    display: block;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(6, 75, 6);
    color: white;
    font-size: 1.em;
}
form > input[type=submit]:hover{
    background-color: rgb(2, 34, 2);
}
div a.links{
    display: block;
    margin: auto;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-top: 7px;
    border: 1px solid rgb(2, 34, 2);
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
    color: rgb(6, 75, 6);
    font-size: 1.em;
    text-align: center;
    text-decoration: none;
}
div a.links:hover{
    background-color: rgb(2, 34, 2);
}
